header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 clamp(3.5vw, 5vw, 60px) clamp(1.5vw, 3vw, 32px) clamp(3.5vw, 5vw, 60px);
}

.logo img{
    height: clamp(30px, 4.13vw, 200px);
    width: auto;
}

nav a {
    font-family: NeueMachina;
    color: white;
    margin: 0 1vw;
    text-decoration: none;
    font-weight: 700;
    font-size: clamp(10px, 1.2vw, 80px);
    text-wrap: nowrap;
}

.phone-number {
    font-family: NeueMachina;
    color: white;
    font-size: clamp(10px, 1.2vw, 80px);
    text-wrap: nowrap;
}

@media (max-width: 830px) {
    header{
        flex-wrap: wrap;
        justify-content: space-around;
        padding: clamp(20px, 3.12vw, 90px);
    }
}

@media (max-width: 633px) {
    header{
        gap: 10px;
        justify-content: center;
    }

    header nav{
        order: 3;
        flex-direction: column;
    }
}