<footer>

    <hr class="full-line">

    <div class="footer-without-hr">
        <div class="footer-top">
            <div class="logo-footer"><img src="images/Logotype.png" alt="logo"></div>
            <nav class="navigation-footer">
                <a href="#">Languages</a>
                <a href="#">How it works</a>
                <a href="#">Sprint</a>
                <a href="#">More</a>
            </nav>
            <div class="phone-number-footer"><span class="phone-number-icon-footer"><img src="./icons/phone.svg"
                        alt="phone icon"></span> +380 99 5345 123</div>
        </div>

        <p class="description-footer">
            By speaking someone's language you learn about them, their culture and their ideas. Breaking down the<br>
            language barrier bridges cultural differences, fosters a world of inclusion and is a first step in helping
            to
            address<br>
            humanity’s challenges. For us, language knows no boundaries.
        </p>

        <p class="description-footer padding">
            Copyright 2025 Lingoda GmbH. Zimmerstr. 69, 10117 Berlin - All Rights Reserved
        </p>
    </div>
</footer>