<section class="questions" id="more">
    <div class="top">
        <div class="main-text-questions">
            <div class="main-text-element-questions">
                <h1 class="starting-questions">Frequently asked</h1>
            </div>
            <div class="main-text-element-questions space-between second-questions-starting">
                <h1 class="starting-questions">questions</h1>
                <a href="https://github.com/KirillVGX" class="started-cta-button-questions">
                    <span class="started-cta-text-questions">Get Started</span>
                    <span class="started-cta-icon-questions"><img src="./icons/right-top-vector.svg" alt="arrow icon"></span>
                </a>
            </div>
        </div>

        <p class="downStarting-questions">Here, you'll find detailed, well-explained answers to the most <br>
            frequently asked questions, giving you a complete understanding<br>
            of our services, processes, and how we work to ensure the best<br>
            experience for you. Whether you're a new or existing customer,<br>
            this section will guide you through everything you need to know.
        </p>
    </div>

    <div class="faq">
        <div class="left-faq">

            <div class="faq-item">
                <div class="faq-question">
                    <span>Concretely, what happens in a class?</span>
                    <span class="faq-toggle"><img src="./icons/down-arrow.svg" alt="arrow icon"></span>
                </div>
                <div class="faq-answer">
                    As a Lingoda student, you can download the class materials for free and use them at any time. After
                    your<br>
                    class, you will also find a quiz to help you refresh and practice your new skills. There are also
                    downloadable<br>
                    exercises available. All materials are uniquely created by Lingoda experts to align with CEFR
                    standards. If
                    you<br>
                    want to learn more about CEFR, read more here.<br>
                </div>
            </div>

            <div class="faq-item">
                <div class="faq-question">
                    <span>Is Lingoda a language learning app?</span>
                    <span class="faq-toggle"><img src="./icons/down-arrow.svg" alt="arrow icon"></span>
                </div>
                <div class="faq-answer">
                    As a Lingoda student, you can download the class materials for free and use them at any time. After
                    your<br>
                    class, you will also find a quiz to help you refresh and practice your new skills. There are also
                    downloadable<br>
                    exercises available. All materials are uniquely created by Lingoda experts to align with CEFR
                    standards. If
                    you<br>
                    want to learn more about CEFR, read more here.<br>
                </div>
            </div>

            <div class="faq-item">
                <div class="faq-question">
                    <span>Is Lingoda a language learning app?</span>
                    <span class="faq-toggle"><img src="./icons/down-arrow.svg" alt="arrow icon"></span>
                </div>
                <div class="faq-answer">
                    As a Lingoda student, you can download the class materials for free and use them at any time. After
                    your<br>
                    class, you will also find a quiz to help you refresh and practice your new skills. There are also
                    downloadable<br>
                    exercises available. All materials are uniquely created by Lingoda experts to align with CEFR
                    standards. If
                    you<br>
                    want to learn more about CEFR, read more here.<br>
                </div>
            </div>

        </div>

        <div class="right-faq">

            <div class="faq-item">
                <div class="faq-question">
                    <span>What learning materials will I get?</span>
                    <span class="faq-toggle"><img src="./icons/down-arrow.svg" alt="arrow icon"></span>
                </div>
                <div class="faq-answer">
                    As a Lingoda student, you can download the class materials for free and use them at any time. After
                    your<br>
                    class, you will also find a quiz to help you refresh and practice your new skills. There are also
                    downloadable<br>
                    exercises available. All materials are uniquely created by Lingoda experts to align with CEFR
                    standards. If
                    you<br>
                    want to learn more about CEFR, read more here.<br>
                </div>
            </div>

            <div class="faq-item">
                <div class="faq-question">
                    <span>Is Lingoda a language learning app?</span>
                    <span class="faq-toggle"><img src="./icons/down-arrow.svg" alt="arrow icon"></span>
                </div>
                <div class="faq-answer">
                    As a Lingoda student, you can download the class materials for free and use them at any time. After
                    your<br>
                    class, you will also find a quiz to help you refresh and practice your new skills. There are also
                    downloadable<br>
                    exercises available. All materials are uniquely created by Lingoda experts to align with CEFR
                    standards. If
                    you<br>
                    want to learn more about CEFR, read more here.<br>
                </div>
            </div>

            <div class="faq-item">
                <div class="faq-question">
                    <span>Will a Business English course  help me in my job/career?</span>
                    <span class="faq-toggle"><img src="./icons/down-arrow.svg" alt="arrow icon"></span>
                </div>
                <div class="faq-answer">
                    As a Lingoda student, you can download the class materials for free and use them at any time. After
                    your<br>
                    class, you will also find a quiz to help you refresh and practice your new skills. There are also
                    downloadable<br>
                    exercises available. All materials are uniquely created by Lingoda experts to align with CEFR
                    standards. If
                    you<br>
                    want to learn more about CEFR, read more here.<br>
                </div>
            </div>

        </div>

    </div>

</section>
