<section class="second-screen" id="HIW">
    <div class="second-wrapper">
        <div class="headline-wrapper">
            <div class="headline-line">
                <h1 class="headline-title">Why should you <span class="headline-highlight">learn</span></h1>
            </div>
            <div class="headline-line">
                <h1 class="headline-title"><span class="headline-highlight">English online</span> with</h1>
            </div>
            <div class="headline-line">
                <h1 class="headline-title">Lingoda?</h1>
            </div>
        </div>

        <div class="carousel-section">
            <div class="carousel-wrapper" id="carouselWrapper">
                <div class="carousel-track" id="sliderTrackSecond">
                    <div class="carousel-card"><img src="images/secondLeft1.png" alt="Slide 1" /></div>
                    <div class="carousel-card"><img src="images/secondLeft2.png" alt="Slide 2" /></div>
                    <div class="carousel-card"><img src="images/secondLeft3.png" alt="Slide 3" /></div>
                </div>
                <button class="carousel-button" id="nextBtn"><img src="icons/left-around-arrow.svg" alt="arrow"></button>
            </div>


            <div class="carousel-right">

                <p class="description-text">
                    With native-level teachers and courses for all levels,<br>
                    our live, online classes will transform your skills for<br>
                    those life-changing moments.
                </p>

                <div class="carousel-controls">
                    <button class="carousel-btn" onclick="slidePrev()"><img src="icons/left-arrow.svg" alt=""></button>
                    <button class="carousel-btn" onclick="slideNext()"><img src="icons/right-vector.svg" alt=""></button>
                </div>

            </div>
        </div>
    </div>

    <div class="serond-right">
        <div class="gallery-wrapper">
            <div class="gallery-track" id="sliderTrack2">
                <div class="gallery-slide">
                    <img src="images/secondRight1.png" alt="Slide 1">
                </div>
                <div class="gallery-slide">
                    <img src="images/secondRight2.png" alt="Slide 2">
                </div>
                <div class="gallery-slide">
                    <img src="images/secondRight3.png" alt="Slide 3">
                </div>
            </div>
        </div>
    </div>

</section>
