<section class="student-success">

    <div class="headline-wrapp">
        <h1 class="headline-titler">Get inspired by our<br><span class="headline-highlighter">students' success
                stories</span></h1>
    </div>

    <p class="description-txt">
        Hear how our students transformed their first language steps into life-changing <br>
        moments. Let their stories motivate you to get your own language wins.
    </p>

    <div class="video-container" id="videoContainer">

        <div class="slider-track-students" id="sliderTrack-students">

            <div class="video-content left-video-content Savannah">

                <button class="play-button"><img src="icons/triangle.svg" alt=""></button>

                <div class="info">
                    <p class="description">
                        Join Savannah as she explores South<br>
                        America and shares how Lingoda sparked<br>
                        unforgettable Spanish conversations!
                    </p>

                    <div class="name">Savannah</div>
                </div>

                <div class="video-element">
                    <img src="./images/woman.png" alt="video">
                </div>

            </div>

            <div class="video-content Max whiter">

                <button class="play-button white"><img src="icons/triangle.svg" alt=""></button>

                <div class="info whiter">
                    <p class="description">
                        Max shares her Lingoda success: mastering<br>
                        French and making friends through<br>
                        humour and flexible learning!
                    </p>

                    <div class="name white">Max</div>
                </div>

                <div class="video-element whiter">
                    <img src="./images/boy.png" alt="video">
                </div>

            </div>

            <div class="video-content Veronika">

                <button class="play-button"><img src="icons/triangle.svg" alt=""></button>

                <div class="info">
                    <p class="description">
                        See how Veronika turned English lessons<br>
                        into career wins and summer fun with<br>
                        Lingoda!
                    </p>

                    <div class="name">Veronika</div>
                </div>

                <div class="video-element">
                    <img src="./images/girl.png" alt="video">
                </div>

            </div>

            <div class="video-content right-video-content George whiter">

                <button class="play-button white"><img src="icons/triangle.svg" alt=""></button>

                <div class="info whiter">
                    <p class="description">
                        From no German to seamless chats:<br>
                        George tells how Lingoda transformed her<br>
                        language skills in OAE!
                    </p>

                    <div class="name white">George</div>
                </div>

                <div class="video-element whiter">
                    <img src="./images/man.png" alt="video">
                </div>
            </div>

        </div>

    </div>

    <div class="checkbox">
        <input type="radio" name="choice" class="radio-students" id="leftBtn-students" />
        <input type="radio" name="choice" class="radio-students" id="centerBtn-students" />
        <input type="radio" name="choice" class="radio-students" id="rightBtn-students" />
    </div>

</section>