<section class="white-section" id="sprint">
    <div class="grid-section">

        <div class="grid-section-first-element">
            <div class="title-sprint">Sprint</div>
            <p class="description-sprint">2-month challenge with big rewards –<br>
                for learners who want extra motivation.</p>
            <ul class="features-sprint">
                <li class="feature-item">Group classes with 3–5 students</li>
                <li class="feature-item">Cancel or change intensity every 4 weeks</li>
                <li class="feature-item">30 or 60 classes in 2 months</li>
            </ul>
            <a href="https://github.com/KirillVGX" class="btn-learn-more-sprint">Learn more</a>
        </div>

        <div class="grid-section-second-element">
            <div class="text-block">
                <div class="text-line">What English</div>
                <div class="text-line">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;courses does</div>
                <div class="text-line" style="margin-left: 10px;">Lingoda offer?</div>
            </div>

            <p class="subheading-text">With native-level teachers and courses for all levels,<br>
                our live, online classes will transform your skills for <br>
                those life-changing moments.
            </p>
        </div>

        <div class="grid-section-third-element">
            <div class="title-flex">Flex</div>
            <p class="description-flex">Build your own language journey –<br>
                for learners who want more flexibility.</p>
            <ul class="features-flex">
                <li class="feature-item">Learn anytime – at your pace</li>
                <li class="feature-item">Earn 50 % cashback or more in class credits</li>
                <li class="feature-item">Group or 1-on-1 private classes</li>
            </ul>
            <a href="https://github.com/KirillVGX" class="btn-learn-more-flex">Learn more</a>
        </div>

        <div class="grid-section-fourth-element">
            <div class="section-heading-block">What learning</div>
            <div class="section-heading-block">English with</div>
            <div class="section-heading-block">Lingoda looks like</div>

            <p class="section-subtext">Peek inside a class, discover how to book a<br>
                lesson and what extra studying opportunities<br>
                there are for you.
            </p>

            <button class="fancy-button">
                <span class="button-text">Learn More</span>
                <span class="button-icon"><img src="./icons/right-top-vector.svg" alt="vector"></span>
            </button>

            <img src="./images/fourth-div-2.png" alt="girl with book" class="girl-with-book">
        </div>

        <div class="grid-section-fiveth-element">
            <div class="levels-text-column">

                <div class="levels-title">Learn about our<br>English levels</div>

                <p class="levels-intro">We don’t simply teach English from a textbook.</p>

                <p class="levels-paragraph">
                    Through our rotation of international teachers, you’ll be exposed to a<br>
                    wide variety of accents, expressions and cultures. This means you’ll<br>
                    always learn the most up-to-date words and phrases used by English<br>
                    speakers worldwide.
                </p>

                <p class="levels-paragraph">
                    And, in our Business English classes, we’ll prepare you for success in<br>
                    all contexts, teaching you to communicate, present and negotiate<br>
                    with confidence.
                </p>

                <button class="levels-cta-button">
                    <span class="levels-cta-text">Learn More</span>
                    <span class="levels-cta-icon"><img src="./icons/right-top-black-arrow.svg" alt="arrow icon"></span>
                </button>

            </div>

            <div class="levels-box-grid">

                <div class="level-box level-a1 active">
                    <div class="level-label active-label">A1</div>
                    <div class="level-content">
                        <p class="level-title">ABSOLUTE BEGINNER</p>
                        <p class="level-description">Basic words and phrases</p>
                    </div>
                </div>

                <div class="level-box level-a2">
                    <div class="level-label level-label-fixed">A2</div>
                    <div class="level-content">
                        <p class="level-title">BEGINNER</p>
                        <p class="level-description">Simple interaction</p>
                    </div>
                </div>

                <div class="level-box level-b1">
                    <div class="level-label">B1</div>
                    <div class="level-content">
                        <p class="level-title">INTERMEDIATE</p>
                        <p class="level-description">Everyday conversation</p>
                    </div>
                </div>

                <div class="level-box level-b2">
                    <div class="level-label level-label-fixed">B2</div>
                    <div class="level-content">
                        <p class="level-title">UPPER-INTERMEDIATE</p>
                        <p class="level-description">Complex topics</p>
                    </div>
                </div>

                <div class="level-box level-c1">
                    <div class="level-label">C1</div>
                    <div class="level-content">
                        <p class="level-title">ADVANCED</p>
                        <p class="level-description">Proficient language use</p>
                    </div>
                </div>

                <div class="level-box level-c2">
                    <div class="level-label level-label-fixed">C2</div>
                    <div class="level-content">
                        <p class="level-title">ADVANCED*</p>
                        <p class="level-description">Basic words and phrases</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    
    <div class="buisness-english">
        <div class="section-title">English or Business English.<br>What’s the difference?</div>

        <p class="section-subtitle">
            With native-level teachers and courses for all levels, our live, online classes will<br>
            transform your skills for those life-changing moments.
        </p>

        <img src="./images/spiral-iych.png" class="spiral spiral-left" alt="left spiral">

        <img src="./images/spiral-right.png" class="spiral spiral-right" alt="right spiral">

        <div class="tv-wrapper">
            <!-- Левый блок -->
            <div class="tv-english-track">
                <img src="images/mb-top-left.png" class="tv-slide" alt="English Slide 1">
                <img src="images/mb-top-left.png" class="tv-slide" alt="English Slide 2">
                <img src="images/mb-top-left.png" class="tv-slide" alt="English Slide 3">
            </div>

            <!-- Центр -->
            <div class="tv-image-wrapper">
                <img src="images/tv.png" alt="TV Frame" class="tv-frame">
            </div>

            <!-- Правый блок -->
            <div class="tv-business-track">
                <img src="./images/mb-top-2-right.png" class="tv-slide-right" alt="Business Slide 1">
                <img src="./images/mb-top-2-right.png" class="tv-slide-right" alt="Business Slide 2">
                <img src="./images/mb-top-2-right.png" class="tv-slide-right" alt="Business Slide 3">
            </div>
        </div>
    </div>
</section>
